extends base

mixin navItem(link, text, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`) 
      svg
      | #{text}

block content
  link(rel='stylesheet' href='/css/account.css')
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me','Settings', true)
          +navItem('/myOrder','My Orders')
          +navItem('/myBasket','My Basket')
          +navItem('/myFavoriteProduct','My favorite products')
          //- +navItem('/','Logout')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/','Manage products')
              +navItem('/','Manage users')
              +navItem('/','Manage baskets')
              +navItem('/','Manage orders')
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          p.form.form-user-data
            .form__group
              p.form__labelName
              p#name.form__input=`${user.firstName} ${user.lastName}`
            .form__group.ma-bt-md
              p.form__label Email address
              p#email.form__input=`${emailAddress}`
          form.form.form-user-data  
            .form__group.form__photo-upload
              img.form__user-photo(src=`/images/users/${user.image}`, alt='User photo')
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              label(for='photo') Choose new photo
            .form__group.right.form__group_btns
              button.btn.btn--small.btn--green.form-user-data__btn Save photo               
              p.btn__logout.btn.btn--small.btn--red Logout              
        .line &nbsp;
        
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Save password
  script(src='/js/account.js')