extends base

block content
  main
    article
      section.section.product
        .container
          h2.h2.section-title Bestsellers Products
          ul.filter-list
            li.brand-li.active-brand-btn
              button(class='filter-btn' data-brand-id='allBrands') All
            each b in brands
              li.brand-li.filter-li-brands
                button(class='filter-btn' data-brand-id=`${b.id}`)= `${b.name}`
                //- a(href=`/productsBrand/${b.id}`)
                //-   button.filter-btn= `${b.name}`
          ul.product-list
            each p in products
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src=`/images/${p.imagecover}` width='312' height='350' loading='lazy' alt=`${p.name}`)
                    //- .card-badge New
                    ul.card-action-list
                      li.card-action-item
                        if user
                          button.card-action-btn.like-action__btn(aria-labelledby='card-label-2', data-productId=`${p.id}`, class= likedProducts.map(lp => lp.ProductId).includes(p.id) ? 'likeBtn' : '')
                            ion-icon(name='heart-outline')
                          #card-label-2.card-action-tooltip
                            | Add to Whishlist
                        else
                          button.card-action-btn.like-action__btn(aria-labelledby='card-label-2', data-productId=`${p.id}`)
                            ion-icon(name='heart-outline')
                          #card-label-2.card-action-tooltip
                            | Add to Whishlist
                  .card-content
                    .card-cat
                      a.card-cat-link(href=`/productsGender/${p.genderid}`)= `${p.gendername}`
                      a.card-cat-link(href=`/productsBrand/${p.brandid}`)= `${p.brandname}`
                    h3.h3.card-title
                      a(href= `/products/${p.id}`)= `${p.name}`
                    - if (`${p.minPrice}` === `${p.maxPrice}`)  
                      data.card-price= `$ ${p.minPrice}`
                    - else 
                      data.card-price= `$ ${p.minPrice} - ${p.maxPrice}`
  script(src='/js/productsBrandFilter.js')
