extends base
block content
  link(rel='stylesheet' href='/css/product.css')
  .card
    .left
      img(src=`/images/${product.coverImage}` alt=`${product.name}`)
      i.fa.fa-long-arrow-left
      i.fa.fa-long-arrow-right
    .right
      .product-info
        .product-name
          h1 #{product.name}
          i.fa.fa-search
          i.fa.fa-user
          i.fa.fa-shopping-cart
        .details
          h2 #{product.ProductGender.name}
          h2 #{product.Brand.name}
          h3 #{product.ShortDescription}
          h4
            span.fa.fa-dollar= `$ ${defaultProduct[0].price}`
          //- h4.dis
          //-   span.fa.fa-dollar
          //-   | $ #{variant.price}
          //- li.li SIZE
        ul.ul
          li.li COLOR
          each c in uniqueColors
            li(class=`li ${c}`)
        ul.ul
          li.li SIZE:
          each s in defaultProduct
            li.li.bg= `${s.Attributes.value}`
        span.foot
          i.fa.fa-shopping-bag
          | Buy Now
        span.foot
          i.fa.fa-shopping-cart
          | Add TO Cart
