extends base

block content
  main
    article
      section.section.product
        .container
          h2.h2.section-title=`${products[0].brandname}`
          ul.product-list
            each p in products
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src=`/images/${p.imagecover}` width='312' height='350' loading='lazy' alt=`${p.name}`)
                    //- .card-badge New
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href=`/productsGender/${p.genderid}`)= `${p.gendername}`
                      a.card-cat-link(href=`/productsBrand/${p.brandid}`)= `${p.brandname}`
                    h3.h3.card-title
                      a(href=`/products/${p.id}`)= `${p.name}`
                    - if (`${p.minPrice}` === `${p.maxPrice}`)  
                      data.card-price= `$ ${p.minPrice}`
                    - else 
                      data.card-price= `$ ${p.minPrice} - ${p.maxPrice}`