extends base

block content
  link(rel='stylesheet' href='/css/product.css')
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  .boddyy
    .product_container
      .imgBx
        img(src=`/images/${product.coverImage}` alt=`${product.name}`)
      .details
        .content
          h2 #{product.name}
            span #{product.Brand.name}
            span #{product.ProductGender.name}
          p Description: #{product.ShortDescription}
          each variant in variants
            .variant
              h3 $ #{variant.price}
              p= `Quantity in Stock: ${variant.qtyInStock}`
              each attr in variant.attributes
                - if (attr.type === 'size')
                  p.variant-attribute= `Size: ${attr.value}`
                - else if (attr.type === 'color')
                  span.product-colors= `${attr.value}`
              button Buy Now
  script.
    //- $(".product-colors span").click(function() {
    //-   $(".product-colors span").removeClass("active");
    //-   $(this).addClass("active");
    //-   $(".active").css("border-color", $(this).attr("data-color-sec"))
    //-   $("body").css("background", $(this).attr("data-color-primary"));
    //-   $(".content h2").css("color", $(this).attr("data-color-sec"));
    //-   $(".content h3").css("color", $(this).attr("data-color-sec"));
    //-   $(".container .imgBx").css("background", $(this).attr("data-color-sec"));
    //-   $(".container .details button").css("background", $(this).attr("data-color-sec"));
    //-   $(".imgBx img").attr('src', $(this).attr("data-pic"));
    //- });


  //- .boddyy
  //-   .product_container
  //-     .imgBx
  //-       img(src=`/images/${product.coverImage}` alt=`${product.name}`)
  //-     .details
  //-       .content
  //-         h2=`${product.name}`
  //-           br
  //-           span=`${product.Brand.name}`
  //-           span=`${product.ProductGender.name}`
  //-         p=`Description: ${product.ShortDescription}`
  //-         each variant in variants
  //-           .variant
  //-             h3=`$ ${variant.price}`
  //-             p Quantity in Stock: #{variant.qtyInStock}
  //-             each attr in variant.attributes
  //-               - if (attr.type === 'size')
  //-                 p.variant-attribute Size: #{attr.value}
  //-               - else if (attr.type === 'color')
  //-                 span.product-colors(data-color-primary=`#${attr.value}` data-color-sec=`#${attr.value}` data-pic=`/images/${product.coverImage}`)= attr.value
  //-             button Buy Now
  //- script.
  //-   $(".product-colors span").click(function() {
  //-     $(".product-colors span").removeClass("active");
  //-     $(this).addClass("active");
  //-     $(".active").css("border-color", $(this).attr("data-color-sec"))
  //-     $("body").css("background", $(this).attr("data-color-primary"));
  //-     $(".content h2").css("color", $(this).attr("data-color-sec"));
  //-     $(".content h3").css("color", $(this).attr("data-color-sec"));
  //-     $(".container .imgBx").css("background", $(this).attr("data-color-sec"));
  //-     $(".container .details button").css("background", $(this).attr("data-color-sec"));
  //-     $(".imgBx img").attr('src', $(this).attr("data-pic"));
  //-   });

