extends base

block content
  link(rel='stylesheet' href='/css/product.css')
  .card
    .left
      img(src=`/images/${product.coverImage}` alt=`${product.name}`)
      i.fa.fa-long-arrow-left
      i.fa.fa-long-arrow-right
    .right
      .product-info
        .product-name
          h1 #{product.name}
          i.fa.fa-search
          i.fa.fa-user
          i.fa.fa-shopping-cart
        .details
          h2 #{product.ProductGender.name}
          h2 #{product.Brand.name}
          h3 #{product.ShortDescription}
          span.fa.quantity
          h4
            span.fa.fa-dollar= `$ `
        ul.ul.ul__colors
          li.li.color-text SELECT COLOR & SIZE
          br
          each color, index in uniqueColors
            button(class=`li-color color ${index === 0 ? 'selected' : ''}` data-productId=`${product.id}` data-color=`${color}`)
              | #{color}
        ul.ul.ul__sizes
          li.li.li_size SIZE:
        ul.cart-buy
          button.buynow Buy now
          button.addtocart Add to cart
        //- span.foot
        //-   i.fa.fa-shopping-bag
        //-   | Buy Now
        //- span.foot
        //-   i.fa.fa-shopping-cart
        //-   | Add TO Cart
  script(src='/js/productDetail.js')